<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css">
    <title>signup</title>
  </head>
  <body>
    <h1>Sign up</h1>
     <form method="post" action="/signup">
      <input name="username"id="username" placeholder="Username" />
      <input name="password" type="password" placeholder="Password" />
      <button type="submit">Sign up</button>
      <p>onks jo tunnukset?</p>  <a href="login">Kirjaudu sisään</a>
  </body>
</html>
