<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vastaus</title>
</head>
<body>
    <h1>Vastaukset:</h1>
    <% if (nimi) { %>
        <p>Kiitos palautteestasi, <%= nimi %>! Otamme sinuun tarvittaessa yhteyttä sähköpostitse osoitteeseen <%= sposti %>.</p>
        <a href="/palaute">Täytä lomake uudestaan</a>
    <% } %>
</body>
</html>